*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container{
  min-width: 100px;
  height: 100vh;
  background: #222;
background: linear-gradient(90deg, rgba(2,0,36,1) 0%);
}

.card{
 
 width: 260px;
 height: 420px;
 background-color: black;
 box-shadow: 10px 10px 10px -5px #222;
 margin: auto;
 position: absolute;
 inset: 0;
 justify-content: center;
 text-align: center;
 border-radius: 12px;
 
}

.img{
  padding: 10px;
}

h3{
  color: white;
  margin-right:5rem;
  margin-bottom: 8px;
}
P{
  color: grey;
  font-size:15px;
}

.part4{
  margin: 22px;
  justify-content: space-between; 
  flex-grow: 1;
 
  
  
}

h5{
  color: lightseagreen;
  flex-grow: 1;
 
}


span{
  color: gray;
  
}

.image{
  width: 30px;
  height: 30px;
  border-radius: 50px;
  margin: -5px;
  justify-content: center;
  
}

footer{
  display:flex;
  margin-left:20px;
  position: absolute;
  gap: 2.5rem;
  
  
  
}

.blue{
  color: dodgerblue;
}

.white{
  color: #f2f2f2;
}

.line{
  margin-top:12px ;
  
  border: 1px solid whitesmoke;
}